{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with .Site.Params.contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with .Site.Params.contact.address }}
        <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}

        {{ with .Site.Params.contact.phone }}
        <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}


      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.7521702398926!2d19.042000550922406!3d47.475258704933225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741ddb3ddf04bab%3A0x7227e330c678217a!2sBudapest%2C+Esz%C3%A9k+u.+14b%2C+1114!5e0!3m2!1sen!2shu!4v1510344230076" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    </div>
  </div>
</section>
